apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: guide-helper
  labels:
    app: prometheus
spec:
  replicas: 1
  serviceAccountName: prometheus
  serviceMonitorSelector: {}
  serviceMonitorNamespaceSelector:
    matchNames:
      - guide-helper
  resources:
    requests:
      memory: 400Mi
      cpu: 100m
    limits:
      memory: 800Mi
      cpu: 200m
  retention: 7d
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 5Gi
