apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: guide-helper-ingress
spec:
  ingressClassName: traefik
  rules:
  - host: guidehelper.dubrovskih.ru
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
