apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: guide-helper

resources:
- ../../base
- ingress.yaml
- sealed-secrets/postgres-sealed.yaml
- sealed-secrets/auth-sealed.yaml

images:
- name: auth
  newName: ghcr.io/jaennil/guide-helper-auth
  newTag: main-1775d31
- name: cache
  newName: ghcr.io/jaennil/guide-helper-cache
  newTag: main-1775d31
- name: frontend
  newName: ghcr.io/jaennil/guide-helper-frontend
  newTag: main-3e10628
- name: tiles
  newName: ghcr.io/jaennil/guide-helper-tiles
  newTag: main-4f8cd68

replicas:
- count: 1
  name: cache
- count: 1
  name: tiles
- count: 1
  name: auth
- count: 1
  name: frontend
