apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: guide-helper

resources:
- ../../base
- ingress.yaml
- sealed-secrets/postgres-sealed.yaml
- sealed-secrets/auth-sealed.yaml
- sealed-secrets/ghcr-sealed.yaml
- sealed-secrets/minio-sealed.yaml

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/imagePullSecrets
      value:
        - name: ghcr-secret
  target:
    kind: Deployment

images:
- name: auth
  newName: ghcr.io/jaennil/guide-helper-auth
  newTag: main-0ea878c
- name: cache
  newName: ghcr.io/jaennil/guide-helper-cache
  newTag: main-e8f1902
- name: frontend
  newName: ghcr.io/jaennil/guide-helper-frontend
  newTag: main-d348ad3
- name: photo-worker
  newName: ghcr.io/jaennil/guide-helper-photo-worker
  newTag: main-0ea878c
- name: routes
  newName: ghcr.io/jaennil/guide-helper-routes
  newTag: main-3d16529
- name: tiles
  newName: ghcr.io/jaennil/guide-helper-tiles
  newTag: main-6474abb

replicas:
- count: 1
  name: cache
- count: 1
  name: tiles
- count: 1
  name: auth
- count: 1
  name: frontend
- count: 1
  name: routes
- count: 1
  name: photo-worker
