apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: guide-helper

resources:
- ../../base
- ingress.yaml
- sealed-secrets/postgres-sealed.yaml
- sealed-secrets/auth-sealed.yaml
- sealed-secrets/ghcr-sealed.yaml

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/imagePullSecrets
      value:
        - name: ghcr-secret
  target:
    kind: Deployment

images:
- name: auth
  newName: ghcr.io/jaennil/guide-helper-auth
  newTag: main-cc4a6b7
- name: cache
  newName: ghcr.io/jaennil/guide-helper-cache
  newTag: main-cc4a6b7
- name: frontend
  newName: ghcr.io/jaennil/guide-helper-frontend
  newTag: main-4d2bf0f
- name: tiles
  newName: ghcr.io/jaennil/guide-helper-tiles
  newTag: main-4d2bf0f

replicas:
- count: 1
  name: cache
- count: 1
  name: tiles
- count: 1
  name: auth
- count: 1
  name: frontend
