apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: guide-helper

resources:
  - ../../base
  - ingress.yaml

secretGenerator:
  - name: postgres-secret
    files:
      - POSTGRES_USER=secrets/postgres-user.txt
      - POSTGRES_PASSWORD=secrets/postgres-password.txt
      - POSTGRES_DB=secrets/postgres-db.txt
  - name: auth-secret
    files:
      - JWT_SECRET=secrets/jwt-secret.txt

images:
  - name: cache
    newName: ghcr.io/jaennil/guide-helper-cache
    newTag: latest
  - name: auth
    newName: ghcr.io/jaennil/guide-helper-auth
    newTag: latest
  - name: frontend
    newName: ghcr.io/jaennil/guide-helper-frontend
    newTag: latest

replicas:
  - name: cache
    count: 1
  - name: auth
    count: 1
  - name: frontend
    count: 1
