apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: guide-helper

resources:
- ../../base
- ingress.yaml

# Secrets are created manually in the cluster
# kubectl create secret generic postgres-secret -n guide-helper --from-literal=...
# kubectl create secret generic auth-secret -n guide-helper --from-literal=...

images:
- name: auth
  newName: ghcr.io/jaennil/guide-helper-auth
  newTag: main-0a7d906
- name: cache
  newName: ghcr.io/jaennil/guide-helper-cache
  newTag: main-4f8cd68
- name: frontend
  newName: ghcr.io/jaennil/guide-helper-frontend
  newTag: main-b55f586
- name: tiles
  newName: ghcr.io/jaennil/guide-helper-tiles
  newTag: main-4f8cd68

replicas:
- count: 1
  name: cache
- count: 1
  name: tiles
- count: 1
  name: auth
- count: 1
  name: frontend
